{% load static %}
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>
      {% block title %}
        SITE NAME
      {% endblock title %}
    </title>
    <meta name="description" content="drunc ui">
    <meta name="keywords" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% block extra_css %}
    {% endblock extra_css %}
  </head>
  <body>
    {% include "main/navbar.html" %}
    <div class="container py-3">
      {% block content %}
      {% endblock content %}
    </div>
  </body>
</html>
