{% extends "main/base.html" %}
{% load render_table from django_tables2 %}

{% block title %}Home{% endblock title %}

{% block content %}
<div class="col">
  <form method="post", action="{% url 'main:process_action' %}">
    {% csrf_token %}
    <a href="{% url 'main:boot_process' %}" class="btn btn-primary">Boot</a>
    <input type="submit" value="Restart" class="btn btn-success", name="action">
    <input type="submit" value="Flush" class="btn btn-warning", name="action">
    <input type="submit" value="Kill" class="btn btn-danger", name="action">
    {% render_table table %}
  </form>
</div>

{% endblock content %}
