{% extends "main/base.html" %}
{% block title %}
  Home
{% endblock title %}
{% block extra_css %}
  <style>
    #message-hide {
      float: right;
    }
    #message-list {
      max-height: 85vh;
      overflow-y: auto;
    }
  </style>
{% endblock extra_css %}
{% block content %}
  <div class="row">
    <div class="col">
      <form method="post" action="{% url 'process_manager:process_action' %}">
        {% csrf_token %}
        <a href="{% url 'process_manager:boot_process' %}"
           class="btn btn-primary">Boot</a>
        <input type="submit"
               value="Restart"
               class="btn btn-success"
               name="action"
               onclick="return confirm('Restart selected processes?')">
        <input type="submit"
               value="Flush"
               class="btn btn-warning"
               name="action"
               onclick="return confirm('Flush selected processes?')">
        <input type="submit"
               value="Kill"
               class="btn btn-danger"
               name="action"
               onclick="return confirm('Kill selected processes?')">
        <button id="message-show"
                type="button"
                class="btn btn-info"
                _="on load hide me on click hide me show #message-panel">Show Messages</button>
        <div hx-get="{% url 'process_manager:process_table' %}"
             hx-swap="outerHTML"
             hx-trigger="load"></div>
      </form>
    </div>
    <div class="col" id="message-panel">
      <div class="card">
        <div class="card-header">
          Messages
          <button id="message-hide"
                  type="button"
                  class="btn-close"
                  aria-label="Hide Messages"
                  _="on click hide #message-panel show #message-show"></button>
        </div>
        <div class="card-body" id="message-list">
          <ul class="list-group">
            {% if messages %}
              {% for message in messages %}<li class="list-group-item">{{ message }}</li>{% endfor %}
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
